<app-header></app-header>
<ion-header>
  <ion-toolbar color="medium" style="height:48px">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="headertext">Choose Booking date</ion-title>
    <ion-icon class="s-icon pointer" slot="end" name="search" (click)="onShowSearchbar()" *ngIf="!isShowSearchBar" id="search"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-grid class="notiBg">
  <ion-row>
    <ion-col size="2">
      <div class="notiBlock">
        <ion-icon mode="ios" name="chatbubbles"></ion-icon>
        <ion-badge mode="md" color="white" slot="top">66</ion-badge>
      </div>
    </ion-col>
    <ion-col size="2">
      <div class="notiBlock">
        <ion-icon name="call"></ion-icon>
        <ion-badge mode="md" color="white" slot="top">66</ion-badge>
      </div>
      </ion-col>
      </ion-row>
      </ion-grid>
      <div class="calendar">
        <div class="calendar-navs">
          <div class="month-nav">
            <button (click)="prevMonth()">&lt;</button>
            <span class="p4">{{ currentDate.format('MMMM') }}</span>
            <button (click)="nextMonth()">&gt;</button>
          </div>
          <div class="year-nav">
            <button (click)="prevYear()">&lt;</button>
            <span>{{ currentDate.format('YYYY') }}</span>
            <button (click)="nextYear()">&gt;</button>
          </div>
        </div>
        <div class="month-grid">
          <div class="day-names">
            <div *ngFor="let name of dayNames" class="day-name p9">
              {{ name }}
            </div>
          </div>
          <div class="weeks">
            <div *ngFor="let week of weeks" class="week">
              <ng-container *ngFor="let day of week">
                <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                  <span class="date-text">{{ day.mDate.date() }}</span>
                </div>
                <div class="week-date enabled"
                     *ngIf="isSelectedMonth(day.mDate)"
                     (click)="selectDate(day)"
                     [ngClass]="{ today: day.today, selected: day.selected }">
                  <span class="date-text">{{ day.mDate.date() }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
<app-footer></app-footer>