@import '../../../../theme/fonts.css';

.filter-txt, .username {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: #4F5153;
    text-transform: uppercase;
}

.filter-c {
    font-size: 18px;
    color: #4F5153;
}

.top-c .age {
    font-family: 'Lato-Bold';
    font-size: 10px;
    color: #626465;
}

.lato-sm {
    font-family: 'Lato-Bold';
    font-size: 10px;
    color: #888888;
}

.price .value {
    font-family: 'Roboto-Medium';
    font-size: 22px;
    color: #4F5153;
}

.price .time {
    font-family: 'Roboto-Regular';
    font-size: 22px;
    color: #888888;
}

.card-content-md {
    padding: 4px;
}

.username {
    text-transform: capitalize;
}

.s-icon {
    color: #fff;
    font-size: 18px;
    margin: 0 8px;
}

.chat-c, .call-c {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0 6px;
}

.call-c {
    margin-left: 24px !important;
}

ion-text ion-icon {
    width: 10px !important;
    height: 10px;
    font-size: 10px;
    margin: 0 4px;
}


.contacts ion-badge {
    font-size: 8px;
    min-width: 18px;
    height: 15px;
    position: absolute;
    top: -8px;
}

.contacts ion-icon {
    position: relative;
    color: #a8a8a8;
    font-size: 18px;
    width: 20px;
    height: 20px;
}

.filter-c {
    float: right;
    width: 100%;
    overflow: hidden;
}

.contacts {
    float: left;
    width: 100%;
    margin: 0;
    position: relative;
}

.card-content-ios {
    padding: 8px 6px;
}

.top-c, .btm-c {
    display: block;
    overflow: hidden;
}

.top-c .lt {
    width: 67%;
    float: left;
    margin: 0;
    padding: 0;
}

.top-c .rt {
    width: 33%;
    float: right;
    margin: 0;
    padding: 0;
}

.top-c .age {
    font-size: 10px;
    display: block;
}

.lt ion-avatar, .lt ion-label {
    display: inline-block;
    vertical-align: middle;
}

.lt ion-label {
    padding: 0 6px;
}

.btm-c .col {
    width: 38%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -2px;
    text-align: center;
    font-size: 10px;
    color: #838383;
}

ion-grid.filter, ion-grid.banner {
    background: #f6f6f6;
}

ion-grid.banner {
    padding: 0;
}

ion-card {
    margin: 12px 8px !important;
}

.banner {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.col-lt {
    width: 18% !important;
}

.col-ct {
    width: 44% !important;
}

.col ion-label, .col ion-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: -2px;
    width: auto;
}

.top-c .username, .top-c .price {
    color: #3b3f42;
}

.rating {
    color: #ffd13d;
    font-size: 14px;
    width: 14px !important;
    height: 14px;
    line-height: 14px;
}



/* ion-button {
    display: block;
    left: 50%;
}
ion-footer ion-icon {
    color: #fff !important;
}

ion-tab-button.tab-selected {
    background: #3880ff;
    color: #fff;
}
ion-tab-button {
    height:50%;
    border: 1px solid #ccc;
}

ion-badge {
    font-size: 8px;
} */