<app-header></app-header>
<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Trainer profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>




  <div class="card-container">
    <ion-card>
      <ion-card-content>
        <ion-grid class="no-pad">
          <ion-row class="no-v-pad top">
            <ion-col size="6" class="lt">
              <ion-label class="text-primary">Report</ion-label>
            </ion-col>
            <ion-col class="fav-block rt" size="6">
              <div class="fav-c pointer" (click)="onFavBtn()">
                <ion-icon name="heart-empty" *ngIf="!isFav"></ion-icon>
                <ion-icon class="fav" name="heart" *ngIf="isFav"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="no-pad pic-container">
            
            <ion-col size="4">
              <div class="rating">
                <div class="icon-c">
                  <ion-icon class="star" name="star-half"></ion-icon>
                  <ion-label class="text-primary r-value">4.7</ion-label>
                </div>
                <ion-label class="lato review-v">(78 Review)</ion-label>
              </div>
            </ion-col>
            <ion-col size="5" class="no-pad">
              <div class="userPic-c">
                <div class="userPic content-c" style="background: url('../../assets/images/wt.jpg');">
                  <span class="status"></span>
                </div>

              </div>
              <!-- <div class="username">
                <ion-label class="text-primary name">
                  John Doe
                </ion-label>
                <ion-label class="lato age">
                  23 years old
                </ion-label>
              </div> -->
            </ion-col>
            <ion-col class="no-pad price-c" size="3">
              <ion-label class="text-primary">
                <span class="value">$55</span>
                <span class="time">/hr</span>
              </ion-label>
            </ion-col>
            
          </ion-row>
          <ion-row class="no-v-pad">
            <ion-col size="12" class="no-v-pad">
              <div class="username" class="no-v-pad">
                <ion-label class="text-primary name">
                  John Doe
                </ion-label>
                <ion-label class="lato age">
                  23 years old
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="contacts-c no-v-pad">
            <ion-col size="12" class="no-pad">
              <div class="userContacts">
                <div class="callme contact">
                  <img src="../../assets/icon/call_icon.svg" alt="Call">
                  <ion-label class="lato contactTxt">Call me</ion-label>
                </div>
                <div class="callme contact">
                  <img src="../../assets/icon/message_icon.svg" alt="Call">
                  <ion-label class="lato contactTxt">Message Me</ion-label>
                </div>
                <div class="callme contact">
                  <img src="../../assets/icon/Location.svg" alt="Call">
                  <ion-label class="lato contactTxt">0.9 mile away</ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="no-pad btn-container">
            <ion-col size="12" class="no-pad">
              <ion-button class="uberPrimary" shape="round" size="default" expand="block" fill="solid" (click)="onBookClient()"
                color="medium">
                <ion-icon class="book-icon" name="calendar"></ion-icon>
                <ion-label> Book</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="no-pad">
            <ion-col class="no-pad" size="12">
              <ion-label class="text-primary title">
                My services
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="no-pad service-list-c">
            <ion-col class="no-pad" size="12">
              <ion-list class="services">
                <ion-item class="lato">
                  Yoga Trainer
                </ion-item>
                <ion-item class="lato">
                  Fitness Trainer
                </ion-item>
                <ion-item class="lato">
                  Cardio Trainer
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad">
            <ion-col class="no-pad" size="12">
              <ion-label class="text-primary title">
                Certifications
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad cert-list-c">
            <ion-col class="no-pad" size="12">
              <ion-list class="cert">
                <ion-item class="lato">
                  <ion-icon class="cert-icon" mode="ios" name="checkmark-circle-outline" color="medium"></ion-icon>
                  Licensed Fitness Trainer
                </ion-item>
                <ion-item class="lato">
                  <ion-icon class="cert-icon" mode="ios" name="checkmark-circle-outline" color="medium"></ion-icon>
                  Certified Personal Trainer
                </ion-item>
                <ion-item class="lato">
                  <ion-icon class="cert-icon" mode="ios" name="checkmark-circle-outline" color="medium"></ion-icon>
                  Licensed Yoga Trainer
                </ion-item>
                <ion-item class="lato">
                  <ion-icon class="cert-icon" mode="ios" name="checkmark-circle-outline" color="medium"></ion-icon>
                  Certified Fitness Trainer
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad">
            <ion-col class="no-pad" size="12">
              <ion-label class="text-primary title">
                About Me
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad about-cont">
            <ion-col class="no-pad" size="12">
              <ion-text class="lato about-content">
                Lorem ipsum dolor site amet, sonsectetuer adipis elit, diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam
                erat volutpat. Ut wisi enim ad minim veinam, quis nostrud exerci tatiion ulsad Agasd lamcorpe. Lorem
                ipusm
                dolor sit amet, consectetuer adipis elit. diam nonummy nibh eusmod tincidunt ut laoreet dolore magn.
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad gal-title">
            <ion-col class="no-pad" size="12">
              <ion-label class="text-primary title">
                Photo gallery
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad">
            <ion-col class="no-pad" size="12">
              <ion-slides pager="true" [options]="galleryOpts">
                <ion-slide>
                  <div class="img-container">
                    <img src="../../assets/images/slider-pic.png" alt="">
                  </div>
                </ion-slide>
                <ion-slide>
                  <div class="img-container">
                    <img src="../../assets/images/slider-pic.png" alt="">
                  </div>
                </ion-slide>
                <ion-slide>
                  <div class="img-container">
                    <img src="../../assets/images/slider-pic.png" alt="">
                  </div>
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad">
            <ion-col class="no-pad" size="12">
              <ion-label class="text-primary title">
                Client Feedback
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="no-pad">
            <ion-col class="no-pad feedbackContainer" size="12">
              <ion-slides pager="true" [options]="feedbackOpts">
                <ion-slide>
                  <ion-card>
                    <ion-card-content>
                      <ion-row class="no-pad">
                        <ion-col size="8" class="no-pad">
                          <div class="feedUser">
                            <ion-avatar>
                              <img src="../../assets/images/wt.jpg" alt="">
                            </ion-avatar>
                            <ion-label class="text-primary name">
                              John Doe
                            </ion-label>
                          </div>
                        </ion-col>
                        <ion-col size="4" class="no-pad">
                          <div class="feedRating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row class="no-pad">
                        <ion-col size="12" class="no-pad">
                          <p class="lato feedContent">
                            Lorem ipsum dolor site amet, sonsectetuer adipis elit, diam nonummy nibh euismod tincidunt
                            ut laoreet
                            dolore magna aliquam
                            erat volutpat.
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
                <ion-slide>
                  <ion-card>
                    <ion-card-content>
                      <ion-row class="no-pad">
                        <ion-col size="8" class="no-pad">
                          <div class="feedUser">
                            <ion-avatar>
                              <img src="../../assets/images/wt.jpg" alt="">
                            </ion-avatar>
                            <ion-label class="text-primary name">
                              John Doe
                            </ion-label>
                          </div>
                        </ion-col>
                        <ion-col size="4" class="no-pad">
                          <div class="feedRating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row class="no-pad">
                        <ion-col size="12" class="no-pad">
                          <p class="lato feedContent">
                            Lorem ipsum dolor site amet, sonsectetuer adipis elit, diam nonummy nibh euismod tincidunt
                            ut laoreet
                            dolore magna aliquam
                            erat volutpat.
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
                <ion-slide>
                  <ion-card>
                    <ion-card-content>
                      <ion-row class="no-pad">
                        <ion-col size="8" class="no-pad">
                          <div class="feedUser">
                            <ion-avatar>
                              <img src="../../assets/images/wt.jpg" alt="">
                            </ion-avatar>
                            <ion-label class="text-primary name">
                              John Doe
                            </ion-label>
                          </div>
                        </ion-col>
                        <ion-col size="4" class="no-pad">
                          <div class="feedRating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row class="no-pad">
                        <ion-col size="12" class="no-pad">
                          <p class="lato feedContent">
                            Lorem ipsum dolor site amet, sonsectetuer adipis elit, diam nonummy nibh euismod tincidunt
                            ut laoreet
                            dolore magna aliquam
                            erat volutpat.
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>














  <!-- <ion-grid>
    <ion-row align-items-center>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <div class="img-outer" *ngIf="selectedTrainer?.pictureURL != 'string'">
          <div class="profilePic" [ngStyle]="{'background-image': 'url(' + selectedTrainer?.pictureURL + ')'}">
          </div>
        </div>
        <div class="img-outer" *ngIf="selectedTrainer?.pictureURL == 'string'">
          <img src="../../assets/images/user-profile.png" alt="{{selectedTrainer?.firstName}}" class="profilePice dummy">
        </div>
        <div class="username">
          <ion-text>
            <strong color="primary" text-centered>{{selectedTrainer?.firstName}} {{selectedTrainer?.lastName}} </strong>
          </ion-text>
        </div>
        <div class="rating">
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>
          <ion-icon name="star" color="primary"></ion-icon>(10)
        </div>
        <ion-text class="title">
          <ion-label>{{selectedTrainer?.type}} </ion-label> <span color="primary">( {{selectedTrainer?.subType}} )</span>
        </ion-text>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="selectedTrainer?.skill.length > 0">
    <ion-card-header>
      <ion-text>Skills</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Name
          </ion-label>
          <ion-label>
            {{selectedTrainer?.skill[0].name}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Type
          </ion-label>
          <ion-label>
            {{selectedTrainer?.skill[0].type}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Sub Type
          </ion-label>
          <ion-label>
            {{selectedTrainer?.skill[0].subType}}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            Level
          </ion-label>
          <ion-label>
            {{selectedTrainer?.skill[0].level}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Certification
          </ion-label>
          <ion-label>
            {{selectedTrainer?.skill[0].Certificate}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Detail</ion-label>
        </ion-item>
        <ion-item>
          <ion-label> {{selectedTrainer?.skill[0].detail}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label>Joined on</ion-label>
      <ion-label>{{ selectedTrainer?.startDate | date:'dd-M-yyyy' }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-label>{{ selectedTrainer?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ selectedTrainer?.age}} years old
        <ion-icon class="gender" name="man" *ngIf="selectedTrainer?.gender == 'M'" color="primary"></ion-icon>
        <ion-icon class="gender" name="woman" *ngIf="selectedTrainer?.gender == 'F'" color="primary"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="selectedTrainer.address.length > 0">
      <ion-label>Address</ion-label>
    </ion-item>
    <ion-item *ngIf="selectedTrainer.address.length > 0">
      <ion-label>City</ion-label>
      <ion-label>{{selectedTrainer.address[0].city}}</ion-label>
    </ion-item>
    <ion-item *ngIf="selectedTrainer.address.length > 0">
      <ion-label>State</ion-label>
      <ion-label>{{selectedTrainer.address[0].state}}</ion-label>
    </ion-item>
    <ion-item *ngIf="selectedTrainer.address.length > 0">
      <ion-label>Street</ion-label>
      <ion-label>{{selectedTrainer.address[0].street}}</ion-label>
    </ion-item>
    <ion-item *ngIf="selectedTrainer.address.length > 0">
      <ion-label>Zip Code</ion-label>
      <ion-label>{{selectedTrainer.address[0].zip}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button size="small" color="secondary">
          <ion-icon name="at"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button size="small" color="secondary">
          <ion-icon name="call"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button size="small" color="secondary">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" color="secondary">
          <ion-icon name="pin"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center align-items-center>
    <ion-button color="primary" (click)="onBookClient()">Book Client</ion-button>
  </div> -->

</ion-content>
<app-footer></app-footer>