ion-toolbar {
    --ion-color-base :#ec6708 !important;
}
ion-button {
    --ion-color-base :#ec6708 !important;
    --background:#ec6708 !important;
    --padding-bottom: 30px;
    --padding-top: 30px;
}
ion-checkbox{
    --ion-color-base :#ec6708 !important;
}
ion-input{
    --padding-start : 30px;
}