ion-button {
    display: block;
    left: 50%;
}
ion-footer ion-icon {
    color: #d2d2d2 !important;
}

ion-tab-button.tab-selected {
    background: #3880ff;
    color: #e14632;
}
ion-tab-button {
    height:50%;
    border: 1px solid #ccc;
}

ion-badge {
    font-size: 8px;
}