ion-button {
    --ion-color-base :#ec6708 !important;
    --background:#ec6708 !important;
    --padding-bottom: 26px;
    --padding-top: 26px;
}

ion-button.white-outline {
    --ion-color-base :#fff !important;
    --background:#fff !important;
    --padding-bottom:26px;
    --padding-top: 26px;
}