.splash-heading {
    /* margin: 130px auto 58px auto; */
    margin: 30% auto 10% auto;
}
.s-text {
    display: block;
    margin: 20px auto;
}

.spacer {
    margin: 10px 0;
}
/* .heading {
    display: block;
    overflow: hidden;
    padding: 22px 0 16px 0;
}

.title, .title-bold {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height:28px;
    color: #fff;
    text-transform: uppercase;
}

.title-bold {
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    line-height: 28px;
} */

/* .form-container {
    display: block;
    width: 70%;
    margin: 0 auto;
} */

