ion-item.uberLink,ion-item.uberChk {
    font-size: 11px;
}
ion-toolbar {
    --ion-color-base: #FF7D1A !important;
}
.login-logo{
    margin: 40px auto 15px;
}

ion-footer{
    position: absolute;
    bottom:10px;
}
.native-input{
    ::-webkit-input-placeholder { 
        color: #fff !important;
        opacity:1 !important;
    }
    ::-moz-placeholder {
        color: #fff !important;
        opacity:1 !important;
    }
    :-ms-input-placeholder { 
        color: #fff !important;
        opacity:1 !important;
    }
    :-moz-placeholder { 
        color: #fff !important;
        opacity:1 !important;
    }
}


// ion-toolbar {
//     --ion-color-base :#ec6708 !important;
// }
// ion-button {
//     --ion-color-base :#ec6708 !important;
//     --background:#ec6708 !important;
//     --padding-bottom: 26px;
//     --padding-top: 26px;
// }
// ion-checkbox{
//    --ion-color-base :#ec6708 !important;
// }
// ion-input{
//     --padding-start : 30px;
// }
// ion-item {
//     --background : transparent !important; 
//     --background-activated:transparent !important;
//     --border-width: 1px 1px 1px 1px;
//     --border-color: #fff;
//     --border-radius: 30px;
//     --highlight-background: none;
//     --full-highlight-height: none;
//     --inset-highlight-height: none;
// }

