<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="AppBg" style="background:url('../../../assets/images/Welcome.jpg');">
    <!--logo start here-->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="heading">
            <ion-label class="title">Find Your </ion-label>
            <ion-label class="title-bold">Fitness</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--logo end here-->
    <form [formGroup]="loginForm" (ngSubmit)="login()"> 
      <div class="form-container">
        <ion-grid>
          <ion-row>
              <ion-label color="medium" *ngIf="(loginForm.dirty || loginForm.touched) && username.invalid && username.errors.required">
                  username is required.
              </ion-label>
              <ion-label color="medium" *ngIf="(loginForm.dirty || loginForm.touched) && username.invalid && username.errors.email">
                  Invalid username.
              </ion-label>
              <ion-label color="medium" *ngIf="(loginForm.dirty || loginForm.touched) && password.invalid && password.errors.required">
                  Password is required.
              </ion-label>
              
          </ion-row>
          <ion-row>
            <ion-col size="12" class="input-c">
              <ion-label class="icon txt_w">
                <ion-icon name="person"></ion-icon>
              </ion-label>
              
              <ion-item>
                <ion-input shape="round" fill="outline" color="primary" class="input-El" formControlName='username'
                  type="text" placeholder="Name" padding></ion-input>
              </ion-item>
              
  
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col size="12" class="input-c">
              <ion-label class="icon txt_w">
                <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-item>
                <ion-input shape="round" fill="outline" color="primary" class="input-El" formControlName='password'
                  type="password" placeholder="Password" padding></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col size="6">
              <ion-checkbox color="primary"></ion-checkbox>
              <ion-label class="check-item txt_w">Remember me</ion-label>
            </ion-col>
            <ion-col size="6">
              <a (click)='onForgotPass()' class="fp-text">
                <ion-icon name="help-circle-outline" class="txt_w"></ion-icon>
                <ion-label class="check-item txt_w">Forgot Password</ion-label>
              </a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" [disabled]="!loginForm.valid" shape="round" size="default" expand="block" fill="solid">LOGIN</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="social-login">
          <ion-row>
            <ion-col size="12">
              <ion-label class="plain-txt">Or connect with</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="4">
              <ion-icon class="plain-txt" name="logo-facebook"></ion-icon>
            </ion-col>
            <ion-col size="4">
              <ion-icon class="plain-txt" name="logo-googleplus"></ion-icon>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
        </ion-grid>
  
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label class="txt_w text-center" (click)="gotoSignup()" text-center>Don't have account? <strong>Sign
                  up!</strong></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
  
  
      </div>
    </form>
  </div>

</ion-content>