<app-header></app-header>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- {{helloService}} -->
  <ion-grid>
    <ion-row>
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <div>
          <img src="../../../assets/images/wt.jpg" alt="user Name" class="profile">
        </div>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-label>Jason Statham</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-label>jason.statham@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address Line 1: </ion-label>
      <ion-label>jason.statham@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Experience</ion-label>
      <ion-label>5 Years</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Offers</ion-label>
      <ion-label>Offer Placeholder</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-label>Apart from being a certified Personal trainer through the American Council on Exercise.Erwin is also a
        fully qualified physiotharapist.
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Charges: </ion-label>
        <ion-label>$40</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Focus</ion-label>
        <ion-label>Yoga</ion-label>
      </ion-item>

  </ion-list>

</ion-content>
<app-footer></app-footer>