<!-- <app-header></app-header> -->
<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1" (click)='tab1Clicked()'>
        <ion-label>
          <ion-badge mode="md" color="white">1</ion-badge>
          <ion-label class="text-primary"> Date</ion-label>
        </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2" (click)='tab2Clicked()'>
        <ion-label>
          <ion-badge mode="md" color="white">2</ion-badge>
          <ion-label class="text-primary">Details</ion-label>
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" (click)='tab3Clicked()'>
        <ion-label>
          <ion-badge mode="md" color="white">3</ion-badge>
          <ion-label class="text-primary">Send</ion-label>
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<app-footer></app-footer>