<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label>set details for</ion-label>
      </ion-col>
      <ion-col size="12">
          <ion-item>
              <ion-select [interfaceOptions]="dayMenuOptions" interface="action-sheet" placeholder="Select Day">
                <ion-select-option *ngFor='let day of days' value={{day}}>{{day}}</ion-select-option>
              </ion-select>
            </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>Apply To</ion-label>
      </ion-col>
      <ion-col size="6">
          <ion-button expand="block">{{day}} only</ion-button>
      </ion-col>
      <ion-col size="6">
          <ion-button expand="block" fill="outline">Full Button</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Set your time
        </ion-label>
      </ion-col>
      <ion-col size="5">
          <ion-item>
              <ion-datetime display-format="hh:mm A"></ion-datetime>
          </ion-item>
      </ion-col>
      <ion-col size="1">
          <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-col>
      <ion-col size="5">
          <ion-item>
              <ion-datetime display-format="hh:mm A"></ion-datetime>
          </ion-item>
      </ion-col>
      <ion-col size="1">
          <ion-item>
              <ion-select [interfaceOptions]="slotMenuOptions" multiple="true" interface="alert">
                <ion-select-option *ngFor='let slot of slots' value={{slot}}>{{slot}}</ion-select-option>
              </ion-select>
            </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-item>
                <ion-select [interfaceOptions]="sessionMenuOptions"  interface="popover" placeholder="Select Session">
                  <ion-select-option *ngFor='let session of sessions' value={{session}}>{{session}}</ion-select-option>
                </ion-select>
              </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item>
                <ion-select [interfaceOptions]="locationMenuOptions" interface="popover" placeholder="Select Location">
                  <ion-select-option *ngFor='let location of locations' value={{location}}>{{location}}</ion-select-option>
                </ion-select>
              </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-input placeholder="Message"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-button class="uberPrimary" shape="round" size="default" expand="block" fill="solid" (click)="onNextBtn()" color="medium">
            <ion-label>NEXT</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>