$dayBase: 30px;
$iconInactive: #9d9d9d;
$textPrimary: #3d3d3d;
$textFade: #c3c3c3;
$textbooked: #a62626;
$textfree: #515151;
$textSelected: #fff;
$textSelectedBg: #54bf00;

ion-card {
  --background: #ffff;
}
ion-card-header ion-icon { 
    color: $iconInactive;
}
.weekName {
    color: $textFade;
}
.week-date.today,
.week-date.selected {
    color: $textSelected;
    background: $textSelectedBg;
}

.calendar {
  display: block;
  width: $dayBase * 7;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  ion-card-header .m-y {
      color: $textPrimary;
}

//   .calendar-navs {
//     background-color: red;
//   }

  .month-nav {
    // padding: $base;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .year-nav {
    // padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
    //   background: $concrete;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .week-date,
    .day-name {
      text-align: center;
    //   padding: $base;
      display: block;
    //   width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .week-date {
    //   height: $dayBase;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
      }

      &::after {
        content: '';
        // height: $dayBase * 0.9;
        // width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            // background-color: $seafoam;
          }
        }
      }
      &.selected {
        // color: $white;
        color:orange;
        &:after {
        //   background-color: $teal;
    
        }
        &:hover {
          &:after {
            // background-color: $teal;
          }
        }
      }

      &.disabled {
        // color: $light-blue-grey;
      }
    }

    .today {
      font-weight: bold;
    }
  }
} 
.notiBg {
    background: #f6f6f6;
    height: 46px;
    padding: 6px 0;
    width: 100%;
    position: relative;
      top: -50px;
     

  }