<ion-app>
  <ion-split-pane contentId="mainContent">
    <ion-menu contentId="mainContent">
      <ion-header>
        <ion-toolbar color="medium">
          <ion-grid class="headerBg" style="background: url('../assets/images/menu-header.png')">
            <ion-row>
              <ion-col size="12">
                <div class="dp-c">
                  <div class="profilePic dp" (click)="onProfilePage()" style="background-image: url('../assets/images/user-profile.png');">
                  </div>
                  <ion-label class="username">John Doe</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="sideMenu">
          <!-- *ngFor="let p of appMenu" -->
          <ion-menu-toggle auto-hide="false">
            <ion-item class="lato" [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="calendar"></ion-icon>
              <ion-label>Ongoing classes</ion-label>
            </ion-item>
            <ion-item class="lato" [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="wallet"></ion-icon>
              <ion-label>My wallet</ion-label>
            </ion-item>
            <ion-item class="lato" [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="person-add"></ion-icon>
              <ion-label>Invite Friends</ion-label>
            </ion-item>
            <ion-item  class="lato"  [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="contacts"></ion-icon>
              <ion-label>About Us</ion-label>
            </ion-item>
            <ion-item  class="lato"  [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="star"></ion-icon>
              <ion-label>Get Membership</ion-label>
            </ion-item>
            <ion-item  class="lato"  [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="heart"></ion-icon>
              <ion-label>Favorite Trainers</ion-label>
            </ion-item>
            <ion-item  class="lato"  [routerDirection]="'root'" [routerLink]="['']">
                <ion-icon name="settings"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>


            <!-- <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>{{p.title}}</ion-label>
            </ion-item> -->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-list class="sideMenu">
          <ion-menu-toggle auto-hide="false">
            <ion-item  class="lato"  [routerDirection]="'root'" (click)="onLogout()"  class="btm">
                <ion-icon name="log-in"></ion-icon>
              <ion-label>Log out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="mainContent"></ion-router-outlet>
  </ion-split-pane>

</ion-app>