<app-header></app-header>
<ion-header>
  <ion-toolbar  color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>global</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map (mapReady)='onMapReady($event)' [backgroundColor]='medium' [latitude]="location.lat" [longitude]="location.lng">
    <agm-marker [title]="you" [label]="Y" [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
  </agm-map>
</ion-content>
<app-footer></app-footer>