<app-header></app-header>
<ion-header>
  <ion-toolbar  color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>global</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map (mapReady)='onMapReady($event)' [backgroundColor]='medium' [latitude]="location.lat" [longitude]="location.lng">
    <agm-marker [title]="you" [label]="Y" [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
    <agm-marker [title]="you" [label]="Y" [latitude]="location.lat + 0.2" [longitude]="location.lng"></agm-marker>
    <agm-marker [title]="you" [label]="Y" [latitude]="location.lat" [longitude]="location.lng + 0.2"></agm-marker>
    <agm-marker [title]="you" [label]="Y" [latitude]="location.lat - 0.2" [longitude]="location.lng"></agm-marker>
    <agm-marker [title]="you" [label]="Y" [latitude]="location.lat" [longitude]="location.lng - 0.2"></agm-marker>
    <agm-circle [latitude]="location.lat + 0.2" [longitude]="location.lng" 
      [radius]="35000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>
  </agm-map>
</ion-content>
<app-footer></app-footer>