.heading {
    display: block;
    overflow: hidden;
    padding: 22px 0 16px 0;
}

.title, .title-bold {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height:28px;
    color: #fff;
    text-transform: uppercase;
}

.title-bold {
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    line-height: 28px;
}

.check-item {
    margin: 0 4px;
    font-size: 12px;
}
.check-c {
    display: block;
    margin: 0 auto;
    width: 96%;
}



/* .main {
    display: block;
    width: 100%;
    position: relative;
}

.bottom-text {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 0;
} */

.form-container {
    display: block;
    width: 88%;
    margin: 0 auto;
}

.icon {
    position: absolute;
    top: 24px;
    left: 18px;
}

ion-checkbox {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.txt-s {
    margin: 16px auto 0 auto;
}



