ion-toolbar {
    --ion-color-base :#ec6708 !important;
}
ion-button {
    --ion-color-base :#ec6708 !important;
    --background:#ec6708 !important;
    --padding-bottom: 26px;
    --padding-top: 26px;
}
ion-checkbox{
    --ion-color-base :#ec6708 !important;
}
ion-input{
    --padding-start : 30px;
}
ion-item {
    --background : transparent !important; 
    --background-activated:transparent !important;
    --border-width: 1px 1px 1px 1px;
    --border-color: #fff;
    --border-radius: 30px;
    --highlight-background: none;
    --full-highlight-height: none;
    --inset-highlight-height: none;
}

ion-radio-group ion-item {
    --border-width: 0 0 0 0;
    --border-color: none;
    --border-radius: none;
    --color: #fff;
    --border-color: transparent;

    --inner-padding-start: 0 !important;
    --inner-padding-end: 0 !important;
    --inner-padding-top: 0 !important;
    --inner-padding-bottom: 0 !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}
ion-radio {
    --ion-color-base :#ec6708 !important;
    --background:#ec6708 !important;
}