<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Trainer App</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input [(ngModel)]='signupDetails.name' type="text" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]='signupDetails.email' type="text" placeholder="email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-input [(ngModel)]='signupDetails.password' type="password" placeholder="Password"></ion-input>
            </ion-item>
          </div>
    
          <div padding>
            <ion-button (click)='signUp()' size="large" expand="block">Sign Up</ion-button>
          </div>

          <div padding>
              <a (click)='gotoLogin()' >I'll do this later</a>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
