<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="AppBg" style="background:url('../../../assets/images/Welcome.jpg');">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="heading">
            <ion-label class="title">Find Your </ion-label>
            <ion-label class="title-bold">Fitness</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="form-container">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="input-c">
            <ion-label class="icon txt_w">
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-item>
              <ion-input shape="round" fill="outline" color="primary" class="input-El" [(ngModel)]='signupDetails.email'
                type="text" placeholder="email" padding></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="input-c">
            <ion-label class="icon txt_w">
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-item>
              <ion-input shape="round" fill="outline" color="primary" class="input-El" [(ngModel)]='signupDetails.password'
                type="password" placeholder="Password" padding></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="input-c">
            <ion-label class="icon txt_w">
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-item>
              <ion-input shape="round" fill="outline" color="primary" class="input-El" [(ngModel)]='signupDetails.Cpassword'
                type="password" placeholder="Confirm Password" padding></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="plain-txt">sign up as</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label class="check-item txt_w">CLIENT</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label class="check-item txt_w">TRAINER</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="round" size="default" expand="block" fill="solid" (click)='signUp()' color="dark">CONFIRM</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row>
        <ion-label class="plain-txt txt-s" (click)="gotoLogin()">Already have account? <strong>Sign in!</strong></ion-label>
      </ion-row>
    </ion-grid>
  </div>






  <!-- <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center color="light" class="logo">
         
        </div>
        <div padding>
          <div class="input-container">
            <ion-input  class="inputElem" [(ngModel)]='signupDetails.name' type="text" placeholder="Name" padding></ion-input>
          </div>
          <div class="input-container">
            <ion-input  class="inputElem" [(ngModel)]='signupDetails.email' type="text" placeholder="email" padding></ion-input>
          </div>
          <div class="input-container">
            <ion-input  class="inputElem" [(ngModel)]='signupDetails.password' type="password" placeholder="Password" padding></ion-input>
          </div>
        </div>
        <div class="block-c">
          <a (click)='gotoLogin()'>Already have account? <strong>Sign In!</strong></a>
        </div>
        <div class="block-c">
          <ion-button (click)='signUp()' size="default" color="light" expand="full">Sign Up</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>