.heading {
    display: block;
    overflow: hidden;
    padding: 0 0 0 0;
}

.title, .title-bold {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
}

.title-bold {
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    line-height: 28px;
}

.check-item {
    margin: 0 4px;
    font-size: 12px;
}

.check-c {
    display: block;
    margin: 0 auto;
    width: 96%;
}

/* .main {
    display: block;
    width: 100%;
    position: relative;
}

.bottom-text {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 0;
} */

.form-container {
    display: block;
    width: 88%;
    margin: 0 auto;
}

.icon {
    position: absolute;
    top: 24px;
    left: 18px;
}

ion-checkbox {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.errors-c {
    display: block;
    margin: 0 auto;
    text-align: center;
    min-height: 40px;
    font-size: 12px;
}

.error {
    background: #fff;
    padding: 1px 0;
    width: auto;
    display: block;
    overflow: hidden;
}

.txt-s {
    margin: 16px auto 0 auto;
}

ion-radio-group ion-item {
    display: inline-block !important;
    vertical-align: middle;
    width: 50%;
}

ion-radio-group ion-radio {
    margin: 0 12px;
}

ion-radio-group ion-label {
    margin: 0;
    padding: 0;
}

.heading {
    display: block;
    overflow: hidden;
    padding: 4px 0 4px 0;
}

ion-radio-group ion-item {
    display: inline-block !important;
    vertical-align: middle;
    width: 50%;
}

ion-radio-group ion-radio {
    margin: 0 12px;
}

ion-radio-group ion-label {
    margin: 0;
    padding: 0;
}

.heading {
    display: block;
    overflow: hidden;
    padding: 0;
}

.no-pad-mar {
    margin: 0;
    padding: 0;
}

.no-v-pad {
    padding-top: 0;
    padding-bottom: 0;
}