<ion-header>
  <ion-toolbar color="light">

    <ion-title class="txt_w" text-center *ngIf="!isShowSearchBar">
      <ion-row>
        <ion-col size="3">
          <span>
            <ion-icon mode="ios" name="chatbubbles"></ion-icon>
            <ion-badge mode="md" color="white" slot="top">66</ion-badge>
          </span>
          <span>
            <ion-icon name="call"></ion-icon>
            <ion-badge mode="md" color="white" slot="top">66</ion-badge>
          </span>
        </ion-col>
        <ion-col size="7">
          Search for trainers
        </ion-col>
      </ion-row>
    </ion-title>
    <ion-searchbar animated showCancelButton placeholder="Search trainer here..." (ionCancel)="onCancel($event)" *ngIf="isShowSearchBar"></ion-searchbar>
    <ion-icon class="s-icon" name="search" slot="end" (click)="onShowSearchbar()" *ngIf="!isShowSearchBar"></ion-icon>
    <ion-icon class="s-icon" name="funnel" slot="end" (click)="onFilterBtnClick()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="listing">
    <ion-row>
      <ion-col size="12">
        <!--not found-->
        <ion-card *ngIf="trainers?.length == 0">
          <ion-card-header>
            <ion-card-content>No Trainer Found!</ion-card-content>
          </ion-card-header>
        </ion-card>
        <!--end of not found-->
        <!--got error-->
        <ion-card *ngIf="error">
          <ion-card-header>
            <ion-card-content>{{error}}</ion-card-content>
          </ion-card-header>
        </ion-card>
        <!--end err statement-->
        <ion-list *ngIf="trainers?.length > 0">
          <!-- trainer-->
          <ion-card *ngFor="let trainer of trainers">
            <ion-card-content (click)="selectedTrainer(trainer)">
              <ion-item class="top-c">
                <div class="lt">
                  <ion-avatar *ngIf="isValidPic(trainer?.pictureURL)">
                    <img src="{{trainer?.pictureURL}}" alt="{{trainer?.firstName}}">
                  </ion-avatar>
                  <ion-avatar *ngIf="!isValidPic(trainer?.pictureURL)">
                    <img src="../../assets/images/user-profile.png" alt="{{trainer?.firstName}}">
                  </ion-avatar>
                  <ion-label>
                    <ion-text class="username">
                      {{trainer?.firstName}}
                    </ion-text>
                    <ion-text class="age">
                      {{trainer?.age}} years old
                    </ion-text>
                  </ion-label>
                </div>
                <div class="rt">
                  <ion-label>
                    <ion-text class="price">
                      <span class="value">$55</span> <span class="time">/hr</span>
                    </ion-text>
                  </ion-label>
                </div>
              </ion-item>
              <ion-item class="btm-c">
                <ion-text class="col col-lt">
                  <ion-icon class="rating" name="star"></ion-icon><span>&nbsp;</span>
                  <ion-label class="lato-sm">
                    <span *ngIf="trainer?.ratingScore == 'null'">0.0</span>
                    <span *ngIf="trainer?.ratingScore != 'null'">{{trainer?.ratingScore}}</span>
                  </ion-label>
                </ion-text>
                <ion-text class="col dist col-ct">
                  <ion-icon mode="ios" name="paper-plane"></ion-icon>
                  <ion-label class="lato-sm"> 0.09 mile away</ion-label>
                </ion-text>
                <ion-text class="col col-rt">
                  <ion-label class="lato-sm">Yoga trainer</ion-label>
                </ion-text>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <!--end trainer-->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid class="banner">
    <ion-row>
      <ion-col size="12">
        <img class="banner" src="../../assets/images/banner-img.JPG" alt="banner">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar color="light">
    <ion-grid no-padding no-margin>
      <ion-row>
        <ion-col text-center>
          <ion-button class="clear" (click)="onDirectionPage()" size="small" fill="clear">
            <ion-icon class="txt_w" name="search"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button class="clear" size="small" (click)="onGlobalPage()" fill="clear">
            <ion-icon class="txt_w " name="navigate"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button (click)="onSettingsPage() " class="clear" size="small" fill="clear">
            <ion-icon class="txt_w" name="contact"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>