// ion-toolbar {
//     --ion-color-base :#f66c0a !important;
// }

    


ion-item {
    --inner-padding-start: 1px !important;
    --inner-padding-end: 1px !important;
    --inner-padding-top: 1px !important;
    --inner-padding-bottom: 1px !important;
    --padding-start: 1px !important;
    --padding-end: 1px !important;
    --background : transparent !important; 
    --background-activated:transparent !important;
    --border-width: 0 0 0 0 !important;
    --border-color: transparent;
    --border-radius: none;
    --highlight-background: none;
    --full-highlight-height: none;
    --inset-highlight-height: none;
}
ion-item.btm-c {
    --min-height: 28px;
}
ion-grid.listing{
    padding: 0 !important;
}
ion-grid.filter,ion-grid.banner {
    --background: #f6f6f6;
}
ion-content {
    --background: #f4f4f4;
}
ion-radio-group ion-item {
    --border-width: 0 0 0 0;
    --inner-border-width: 0 0 0 0 !important;
    --border-color: none;
    --border-radius: none;
    --color: #fff;
    --border-color: transparent;

    --inner-padding-start: 0 !important;
    --inner-padding-end: 0 !important;
    --inner-padding-top: 0 !important;
    --inner-padding-bottom: 0 !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}
ion-radio {
    --ion-color-base :#ec6708 !important;
    --background:#ec6708 !important;
}
/*gender*/
ion-radio-group.gender ion-item{
    --background: #fff !important;
    --border-width: 1px 1px 1px 1px !important;
    --inner-border-width: 0 0 0 0 !important;
    --border-radius: 6px;
    --border-color: #a8a8a8;

}
ion-radio-group.gender ion-icon{
    --color: #a8a8a8;
}
ion-radio-group.gender ion-item.item-radio-checked {
    --background: #fff !important;
    --border-width: 1px 1px 1px 1px !important;
    --inner-border-width: 0 0 0 0 !important;
    --border-radius: 6px;
    --border-color: #ec6708;

}
ion-radio-group.gender ion-item.item-radio-checked  ion-icon{
    --color: #ec6708;
    color: #ec6708;
}

ion-radio-group.gender ion-radio {
    --ion-color-base: transparent !important;
    --border-width: 0 0 0 0 !important;
    --inner-border-width: 0 0 0 0 !important;
    --checkmark-color: transparent !important;
    --size: 0 !important;

}

ion-range {
    --bar-background: #d9d9d9 !important;
    --ion-color-base:  #ec6708  !important;
    --bar-background-active: #ec6708  !important;
}

/*filter by radiogroup*/
ion-radio-group.filterBy ion-item {
    --color: #a8a8a8;
}

ion-radio-group.filterBy ion-item.item-radio-checked,
ion-radio-group.filterBy ion-item.item-radio-checked ion-label .txt {
    --background: #fff !important;
    --border-width: 1px 1px 1px 1px !important;
    --inner-border-width: 0 0 0 0 !important;
    --border-radius: 6px;
    --border-color: #ec6708;
    color: #ec6708;

}
ion-radio-group.filterBy > ion-item{
    --background: #fff !important;
    --border-width: 1px 1px 1px 1px !important;
    --inner-border-width: 0 0 0 0 !important;
    --border-radius: 6px;
    --border-color: #a8a8a8;

}
ion-radio-group.gender ion-item.item-radio-checked  ion-text{
    --color: #ec6708;
    color: #ec6708;
}
ion-radio-group.filterBy ion-radio {
    --ion-color-base: transparent !important;
    --border-width: 0 0 0 0 !important;
    --inner-border-width: 0 0 0 0 !important;
    --checkmark-color: transparent !important;
    --size: 0 !important;

}
ion-title{
    padding: 0 6px;
}
ion-item.skills-c {
    --background: #fff !important;
    --border-width: 1px 1px 1px 1px !important;
    --inner-border-width: 0 0 0 0 !important;
    --border-radius: 6px;
    --border-color: #a8a8a8;
} 
ion-select {
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
}

