<ion-header>
  <ion-toolbar color="light">
    <ion-title class="txt_w" text-center *ngIf="!isShowSearchBar">
        <ion-row>
            <ion-col size="3">
              <span>
                <ion-icon mode="ios" name="chatbubbles"></ion-icon>
                <ion-badge mode="md" color="white" slot="top">66</ion-badge>
              </span>
              <span>
                  <ion-icon name="call"></ion-icon>
                  <ion-badge mode="md" color="white" slot="top">66</ion-badge>
              </span>
            </ion-col>
            <ion-col size="7">
                Search for trainers
            </ion-col>
        </ion-row>
    </ion-title>
    <ion-searchbar animated showCancelButton placeholder="Search trainer here..." (ionCancel)="onCancel($event)" *ngIf="isShowSearchBar"></ion-searchbar>
    <ion-icon class="s-icon" name="search" slot="end" (click)="onShowSearchbar()" *ngIf="!isShowSearchBar"></ion-icon>
    <ion-icon class="s-icon" name="funnel" slot="end" (click)="onFilterBtnClick()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
        <ion-col size="12">
            <ion-item class="title-c">
              <ion-label class="title">
               What skills do you like?
              </ion-label>
            </ion-item>
            
            <ion-item class="input-c skills-c">
                <ion-select multiple="true" cancelText="Cancel" okText="OK">
                    <ion-select-option value="yoga">Yoga</ion-select-option>
                    <ion-select-option value="swimming">Swimming</ion-select-option>
                    <ion-select-option value="running">Running</ion-select-option>
                    <ion-select-option value="gymnastics">Gymnatics</ion-select-option>
                    <ion-select-option value="weights">Weights</ion-select-option>
                  </ion-select>
            </ion-item>
          </ion-col>


      <ion-col size="12">
        <ion-item class="title-c">
          <ion-label class="title">
            Trainer gender?
          </ion-label>
        </ion-item>
        <ion-item class="input-c">
          <ion-radio-group class="gender">
            <ion-item class="g-item-c first">
              <ion-label class="txt-c">
                <ion-icon name="transgender"></ion-icon>
              </ion-label>
              <ion-radio color="light"  mode="ios" slot="start" value="T"></ion-radio>
            </ion-item>

            <ion-item class="g-item-c">
              <ion-label  class="txt-c">
                <ion-icon name="female"></ion-icon>
              </ion-label>
              <ion-radio color="light"  mode="ios" slot="start" value="F"></ion-radio>
            </ion-item>

            <ion-item class="g-item-c">
              <ion-label  class="txt-c">
                <ion-icon name="male"></ion-icon>
              </ion-label>
              <ion-radio color="light"  mode="ios" slot="start" value="M"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label class="title">Distance</ion-label>
        </ion-item>
        <ion-item class="input-c">
            <ion-range class="range-d" mode="ios" color="primary" dualKnobs="true" pin="true" min="1" max="30" step="3" snaps="false">
              <!-- <ion-label slot="start">0.0 Km</ion-label>
              <ion-label slot="end">30.0 Km</ion-label> -->
            </ion-range>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item class="title-c">
          <ion-label class="title">
            Price
          </ion-label>
        </ion-item>
        <ion-item class="input-c">
            <ion-range class="range-d" mode="ios" color="primary" dualKnobs="true" pin="true" min="1" max="1000" step="3" snaps="false">
              </ion-range>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item class="title-c">
          <ion-label class="title">
            Filter By
          </ion-label>
        </ion-item>
        <ion-item class="input-c filter-c">
          <ion-radio-group class="filterBy">
            <ion-item class="first" >
              <ion-label  class="label-chk">
                <ion-item>
                  <ion-label>
                    <ion-text class="txt">
                      All
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-label>
              <ion-radio mode="ios" slot="start" value="All"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label  class="label-chk">
                <ion-item>
                  <ion-label>
                    <ion-text class="txt">
                      2+
                    </ion-text>
                    <ion-text class="icon">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-label>
              <ion-radio mode="ios" slot="start" value="2p"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label  class="label-chk">
                <ion-item>
                  <ion-label>
                    <ion-text class="txt">
                      3+
                    </ion-text>
                    <ion-text class="icon">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-label>
              <ion-radio slot="start" value="3p"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label  class="label-chk">
                <ion-item>
                  <ion-label>
                    <ion-text class="txt">
                      4+
                    </ion-text>
                    <ion-text class="icon">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-label>
              <ion-radio  mode="ios" slot="start" value="4p"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="title-c">
          <ion-label class="title">
            Age
          </ion-label>
        </ion-item>
        <ion-item class="input-c">
          <ion-range class="range-d" mode="ios" color="primary" dualKnobs="true" pin="true" min="10" max="100" step="3" snaps="false">
          </ion-range>
          
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-grid no-padding no-margin>
      <ion-row>
        <ion-col>
          <ion-button class="clear" (click)="onDirectionPage()" size="small" fill="clear">
            <ion-icon class="txt_w" name="search"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="clear" size="small" (click)="onGlobalPage()" fill="clear">
            <ion-icon class="txt_w " name="paper-plane"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onSettingsPage() " class="clear" size="small" fill="clear">
            <ion-icon class="txt_w" name="contact"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>